.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    text-align: left; /* Center-align text */
    position: relative;
  }
  
  .close-btn {
    background: red;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: 10px;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  .cow-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
  }
  
  .cow-details p {
    margin: 5px 0;
    font-size: 16px;
  }
  
  .modal-actions {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .adopt-btn {
    background: green;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .close-modal-btn {
    background: red;
    color: white;
    
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  